<!-- your html code here -->

    <div class="container-fluid p-5 bg-white text-dark">
        <h4>
            Contact
        </h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pulvinar justo tellus, at rutrum nibh
            tincidunt
            sit amet. Suspendisse potenti. Etiam ultricies lectus nec sem dignissim viverra. Integer eu risus risus.
            Pellentesque eget posuere ex. Fusce semper dui ac cursus tincidunt.
        </p>
        <form class="container bg-light w-75 p-3">
            <div class="container d-flex justify-content-end p-3 ">
                <div class="col-2">
                    <label for="yourEmail" class="col-form-label"><strong>Your E-mail</strong></label>
                </div>
                <div class="col-9">
                    <input type="Email" id="inputEmail" class="form-control"
                        aria-describedby="yourEmailLine">
                </div>
            </div>
            <div class="container d-flex justify-content-end">
                <div class="col-2">
                    <label for="yourMessage" class="col-form-label"><strong>Your Message</strong></label>
                </div>
                <div class="col-9">
                    <textarea class="form-control" rows="4" id="message-text" placeholder="Add the caption of your post here"></textarea>
                </div>
            </div>
            <div class="form-footer ">
                <div class="container d-flex justify-content-end p-3 ">
                    <button type="button" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>
